:root {
    --orangePrimary: #f26522;
    --gray: #83969f;
    --milky: #b6b6b6;
    --white: #fff;
    --nearblack: #3A4D69; 
    --bgblack: #323339;
    --maxwidthver1: 1024px;
    --maxwidthver2: 1280px;
}
body{
    background-color: var(--white);
    margin: 0;
}
/*Container*/
.footer-content, .content-second, .title-block, .content-block, .content-third, .form-content{
    max-width: var(--maxwidthver1);
    margin: auto;
    padding: 10px 24px;
}
/*Content MELBOURNE, AUSTRALIA*/
.content-second{
    font-family: 'Open Sans', sans-serif;
    color: var(--gray);
    font-weight: 400;
    font-size: 14px;
}
.content-second h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 35px;
    color: var(--nearblack);
}
.left-content, .right-content{
    line-height: 27px;
}
.content-second .left-content .description{
    font-weight: 400;
    font-size: 18px;
    color: var(--milky);
}

/*Main content*/
.title-block{
    display: flex;
    flex-direction: column;
    background-color: var(--orangePrimary);
    color: var(--white);
}
.bg-content-main > img{
    display: none;
}
.content-block{
    background-color: var(--orangePrimary);
    color: var(--white);
    font-size: 14px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.title-block img{
    flex: 1;
    height: 100%;
    width: 100%;
}
.title-block h3{
    flex: 1;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 60px;
    color: var(--white);
}

/*Form content*/
.form-content{
    background-color: var(--bgblack);
}
.form-content h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 35px;
    color: var(--white);
}
.form-content input{
    color: var(--gray);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 60px;
    width: 194px; 
    width: 100%;
    margin-bottom: 10px;
    border: 0px solid;
    border-radius: 2px;
}
.form-content input[type=submit]{
    background-color: transparent;
    border: 2px solid var(--white);
    color: var(--white);
}

/*Third content*/
.content-third{
    background-color: var(--orangePrimary);
}
.content-third p{
    font-family: 'Open Sans', sans-serif;
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
}
.content-third h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 35px;
    color: var(--white);
}
.content-third img{
    width: 100%;
    /* height: 50vh; */
    object-fit: cover;
}
.right-third-content .conclu-content{
    padding-bottom: 80px;
}



/*Footer*/
footer{
    background-color: #323339;
}
.footer-content{
    /*Font*/
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.menu-section{
    flex: 1;
}
.footer-content ul{
    list-style: none;
    color: #f26522;
    padding-left: 0;
}
.footer-content li{
    line-height: 2em;
}
.footer-content a{
    text-decoration: none;
    color: white;
}
.footer-content p {
    color: #737687;
    font-family: Myriad Pro;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}
.footer-feature{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-feature .menu-section{
    width: 90px;
    margin: 10px;
}
/*Desktop size*/
@media screen and (min-width:1440px){
    /*Content second: background white*/
    .content-col{
        display: flex;
    }
    .left-content{
        flex: 3;
        margin-right: 5%;
        line-height: 27px;
    }
    .right-content{
        flex: 2;
        padding-bottom: 5%;
        line-height: 22px;
    }
    /*Content main: background orange*/
    .bg-content-main{
        position: relative;
    }
    .bg-content-main > img{
        display: block;
    }
    .bg-content-main > .title-block{
        position: absolute;
        bottom: 0px;
        left: calc((100% - var(--maxwidthver1))/2);
        flex-direction: row;
        background-color: var(--orangePrimary);
        display: flex;
        padding: 0;
    }
    img{
        width: 100%;
    }
    .title-block .title{
        flex: 1;
    }
    .title-block img{
        height: 30%;
        width: 30%;
    }
    .title-block h3{
        padding: 5px 15px;
        padding-left: 20px;
    }
 
    .outline-bg{
        position: relative;
    }
    .outline-bg .outer-right-bg{
        position: absolute;
        background-color: var(--orangePrimary);
        width: calc((100% - var(--maxwidthver1))/2 + var(--maxwidthver1));
        height: 100%;
        right: 0;
        top: 0;
        min-width: 1px;
        z-index: -1;
    } 
    .content-block{
        display: flex;
        padding: 50px 0;
    }
    .content-block .first-content{
        flex: 3;
        padding-left: 5%;
        margin-right: 5%;
    }
    .content-block .second-content{
        flex: 2;
    }

    /*Form content*/
    .outline-bg-form{
        position: relative;
    }
    .outline-bg-form .outer-right-bg-form{
        position: absolute;
        background-color: var(--bgblack);
        width: calc((100% - var(--maxwidthver1))/2 + var(--maxwidthver1));
        height: 100%;
        right: 0;
        top: 0;
        min-width: 1px;
        z-index: -1;
    } 
    .form-content{
        padding-left: 10%;
        background-color: transparent;
    }
    
    .form-content input{
        width: 194px;
        margin-right: 5px;
        padding-left: 10px;
    }
    .form-content input[type=email]{
        width: 294px;
    }
    .form-content input[type=submit]{
        width: 156px;
    }
    .form-content img{
        position: absolute;
        right: 0;
        bottom: 0;
        width: calc((100% - var(--maxwidthver1))/2 + var(--maxwidthver1));
        height: 100vh;
        object-fit: cover;
    }

    /*Content-third*/
    .content-third{
        padding: 0px;
        display: flex;
    }
    .content-third .intro-content, .content-third .conclu-content{
        padding: 0 5%;
    }
    .intro-content{
        width: 33%;
    }
    .intro-content h3{
        width: 80%;
    }
    .right-third-content{
        width: 67%;
        display: flex;
        flex-direction: column;
    }
    .right-third-content{
        background-color: var(--white);
    }
    .right-third-content img{
        width: 100%;
        height: 40vh;
        object-fit: cover;
        /* mix-blend-mode: soft-light; */
    }
    .right-third-content .conclu-content{
        padding-bottom: 80px;
    }
    .conclu-content{
        color: var(--gray);
    }
    .conclu-content h3{
        color: var(--nearblack);
    }
    .conclu-content p{
        color: var(--gray);
    }

    /*Footer*/
    .footer-content{
        padding-bottom: 100px;
    }
    .menu-section{
        flex: 1;
    }
    .footer-content p{
        text-align: left;
    }

}