:root {
    --radius: 6px;
    --baseBtn: #ffba6e;
    --white: #fff;
    --orangeText: #fe992a;
    --green: #376d8f;
    --maxwidthcontent: 1024px;
  }
/*Effect*/
@-webkit-keyframes fadeIn{
    from {height: 0; opacity: 0;}
    to {height: 1; opacity: 1;}
}
@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}
/*Header*/
.navbar {
    overflow: hidden;
    background-color: transparent;
    /* display: flex; */
    align-items: center;
    font-family: 'Lato', sans-serif;
  }
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
  }
/*Header menu content*/
  .features{
    max-width: var(--maxwidthcontent);
    /*Khong tran vien*/
    /* overflow: hidden; */
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin: auto; 
  }
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #376d8f;
  }
  
  .dropdown-content {
    display: none; 
    /* position: absolute; */
    width: max-content;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 16px 0px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/*Hamburger Menu*/
  .navbar #links {
    display: none;
    /* overflow-y: hidden; */
  }
.navbar .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 5;

    /*Effect to become close button*/
    width: 30px;
    height: 23px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.navbar .features{
    position: relative;
    width: 100vw;
    height: 100vh; 
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(2px);
    background-color: #376d8f99;

    -moz-transition:height 2s; /* Firefox 4 */
    -webkit-transition:height 2s; /* Safari and Chrome */
    -o-transition:height 2s; /* Opera */
    transition: height 2s;

    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
}
.navbar .feature a, .navbar .feature .dropdown {
    color: white;
    padding: 14px 0px !important;
    text-decoration: none;
    font-size: 17px;
    display: block;
    flex: 1;
}
.features .dropdown{
    width: 100%;
    display: block;
    font-weight: 700;
}
.features a{
    width: 100%;
    display: block;
    font-weight: 400;
}
.navbar > a{
    padding: 14px 16px;
}

.dropdown:hover .dropbtn,  .dropdown .dropbtn, .dropdown-content {
    width: 100%;
  }
.dropdown .dropbtn i{
    margin-left: 5px;
}
  /*Body*/
  body{
      margin: 0;
  }
  hr{
      border: 1px solid #eaeaea;
      margin: 80px 20px 20px 20px;
  }
  /* Slideshow container */
  .slide-content {
    position: relative;
  }
  .slide-content header {
      position: absolute;
      z-index: 6;
  }
  .slide-content .text{
      position: absolute;
      color: white;
      font-family: 'Lato', sans-serif;
      font-size: 32px;
      z-index: 2;
  }
  .slide-content .text p{
      font-size: 16px;
      font-weight: 400;
      font-family: Lato;
      line-height: 25px;
      padding-bottom: 50px;
  }
  .slide-content header{
      position: absolute;
      top: 0px;
      width: 100%;
  }
  .slide-content .decor{
    position: absolute;
    bottom: 0px;
    object-fit: cover;
    /* width: 100%; */
  }
  .slide-content img{
    object-fit: cover;
    width: 100%;
    height: 100vh;
  }
.decor img{
    object-fit: cover;
    width: 100%;
    height: 30vh;
}
/*Homepage*/
.home{
    background-color: white;
}
.home-content{
    max-width: var(--maxwidthcontent);
    margin: auto;
    padding-bottom: 10%;
}
.l-home{
    position: relative;
    quotes: "“" "";
}
.l-home p{
    margin-block-start: 0%;
    margin-block-end: 0%;
    quotes: "" "”";
    font-size: 20px;
    line-height: 28px;
    position: relative;
}
.l-home p::after{
    content: "”";
    font-size: 60px;
    position: absolute;
    bottom: -40px;
}
.l-home p::before{
    content:  "“";
    font-size: 60px;
    position: absolute;
    top: -20px;
}
.btn{
    position: absolute;
    right: 24px;
    bottom: -70px;
    display: flex;
    align-items: center;
    font-size: 20px; 
}
.l-home > p{
    color: var(--orangeText);

    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    line-height: 28px;
}
.r-home{
    font-family: Lato;
    font-weight: 400;
}
.r-home h3{
    color: #fe992a;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.r-home > p {
    color: #737c85;
    font-size: 14px;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: 400;
    font-size: 14px;
}
.home a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
.home a:hover {
    background-color: #fe992a;
    color: white;
  }
.previous {
    background-color: var(--baseBtn);
    color: var(--white);
  }
.next {
    background-color: var(--baseBtn);
    color: var(--white);
  }

/*Effect Menu - Closed Button*/
.container{
    width: 60px;
    height: 45px;
    /* position: relative;
    margin: 50px auto; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    /*Style 1*/
    /* width: 35px;
    height: 5px;
    background-color: var(--white);
    margin: 6px 0;
    transition: 0.4s; */
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background: var(--white);
    border-radius: 9px;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
.bar1{
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
.bar2{
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
.bar3{
    top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
  
.change .bar1 {
    /* -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px); */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    /* left: 8px; */
  }
  
.change .bar2 {
    width: 0%;
    opacity: 0;}
  
.change .bar3 {
    /* -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px); */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 18px;
    /* left: 8px; */
  }

/*Footer*/
footer{
    background-color: #e87875;
    color: var(--white);
    font-family: droid-sans, sans-serif;
}
.footer-content{
    max-width: var(--maxwidthcontent);
    margin: auto;
    padding-top: 45px;
    padding-bottom: 200px;
    font-weight: 400;
    font-size: 12px;
}
.footer-content ul{
    list-style: none;
    padding-left: 0;
    font-weight: 700;
    margin-block-start: 0.5em;
}
.footer-content li{
    line-height: 2em;
    font-weight: 400;
    font-size: 12px;
}
.footer-content a{
    text-decoration: none;
    color: var(--white);
    font-weight: 400;
    font-size: 12px;
}
.header{
    font-weight: 400;
    font-size: 12px;
    width: max-content;
    margin: 0;
}
.r-footer{
    display: flex;
    flex-wrap: wrap;
}
.r-footer > .section{
    width: 100px;
    margin: 10px 5px 10px 0;
}
/* Phone View */
/* @media only screen and (max-width:600px){ */
    .r-footer, .l-footer{
        padding-left: 24px;
        padding-right: 24px;
    }
    .l-home, .r-home{
        padding-left: 24px;
        padding-right: 24px;
    }
    .slide-content > .text{
        width: 90%;
        top: 25%;
        left: 5%;
        text-align: center;
        margin: auto;
    }
    .slide-content .text p{
        font-size: 16px;
    }

/* Show for: Tablet/Ipad View*/
@media screen and (min-width:768px) {
    :root{
        --maxwidthcontent: 600px;
    }
    .r-footer{
        justify-content: space-between;
        /* padding-left: 50px; */
    } 
    .r-footer > .section{
        width: 110px;
        margin: 10px 0px;
    } 
    .slide-content > text{
        max-width: 1024px;
    }
    .slide-content .text p{
        font-size: 20px;
    }
    .slide-content .text .title{
        font-size: 48px;
    }
    .features{
        --maxwidthcontent: 1024px;
    }
} 

/*Ipad Pro View*/
@media screen and (min-width: 1024px) {
    :root{
        --maxwidthcontent: 900px;
     }
    .r-footer, .l-footer{
        padding-left: 32px;
        padding-right: 32px;
    }
    .l-home, .r-home{
        padding-left: 32px;
        padding-right: 32px;
    }
    .home-content{
        display: flex;
        padding-bottom: 80px;
        height: 327px;
    }
    .l-home{
        flex: 1.25;
        width: 270px;
    }
    .r-home{
        flex: 3;
        /* margin-left: 5%; */
    }
    .slide-content > .text{
        position: absolute;
        max-width: var(--maxwidthcontent);
        margin: auto;
        width: 40%;
        left: 10%;
        top: 20%;
        color: var(--white);
        text-align: left;
        font-family: 'Lato', sans-serif;
    }
    .slide-content .text .title{
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 52px;
    }
    .slide-content .text p{
        font-size: 14px;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        line-height: 25px;
    }
    .slide-content .decor{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .slide-content > img{
        height: 50vh;
    }
    .decor img{
        width: 100%;
        height: 50%;
    }
   
    .footer-content{
        display: flex;
        justify-content: space-between;
    }
    .r-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 70%;
    }
    img{
        width: 100%;
    }
    .navbar{
        align-items: flex-start;
    }
    .navbar #links {
        display: block;
      }
    .navbar a{
        padding: 14px 16px;
    }
    .navbar .icon{
        display: none;
    }
    .navbar #links {
        display: block;
    }
    .navbar .features{
        width: max-content;
        margin-left: 0px;
        display: flex;
        position: relative;
        background-color: transparent;
        backdrop-filter: blur(0px);
        z-index: 0;
    }
    .navbar{
        display: flex;
        overflow: hidden;
        align-items: flex-start;
    }
    .dropdown-content {
        position: absolute;
        z-index: 3;
    }
    .features .dropdown{
        width: max-content;
        margin-right: 20px;
        margin-top: 10px;
        /* display: inline; */
    }
    .dropdown-content a {
        padding: 12px 16px;
        text-align: left;
      }
    .features > a{
        width: max-content;
        margin-top: 10px;
        margin-right: 20px;
    }
    .dropdown .dropbtn i{
        margin-left: 10px;
    } 
    .dropdown-content a:hover {
        background-color: #ddd;
        width: max-content;
      }
    .dropdown:hover .dropbtn,  .dropdown .dropbtn, .dropdown-content {
        width: max-content;
      }
    
    .btn{
    position: absolute;
    right: 24px;
    bottom: 42px;
    display: flex;
    align-items: center;
    font-size: 20px; 
    }
    hr{
        margin: 0px 20px 20px 20px;
    }
}

/*Desktop View*/
@media screen and (min-width:1440px){
    .home-content{
        display: flex;
        padding-bottom: 80px;
    }
    .l-home{
        flex: 1.25;
    }
    .r-home{
        flex: 3;
    }
    .slide-content > .text{
        position: absolute;
        max-width: var(--maxwidthcontent);
        margin: auto;
        width: 30%;
        left: 20%;
        /* top: 30%; */
        color: var(--white);
        text-align: left;
        font-family: 'Lato', sans-serif;
    }
    .slide-content .text .title{
        font-size: 200%;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 52px;
    }
    .slide-content .text p{
        font-size: 16px;
        font-weight: 400;
        font-family: 'Lato', sans-serif;
        line-height: 25px;
    }
    .slide-content .decor{
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    .slide-content > img{
        height: 100vh;
    }
    .decor img{
        width: 100%;
    }
   
    .footer-content{
        display: flex;
        justify-content: space-between;
    }
    .r-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 70%;
    }
    img{
        width: 100%;
    }
    .navbar{
        align-items: flex-start;
    }
    .navbar #links {
        display: block;
      }
    .navbar a{
        padding: 14px 16px;
    }
    .navbar .icon{
        display: none;
    }
    hr{
        /* margin-left: 90px; */
        margin: 0px 20px 20px 20px;
    }
    .navbar #links {
        display: block;
    }
    .navbar .features{
        width: max-content;
        /* height: auto; */
        margin-left: 185px;
        display: flex;
        position: relative;
        background-color: transparent;
        backdrop-filter: blur(0px);
        z-index: 0;
    }
    .navbar{
        display: flex;
        overflow: hidden;
        align-items: flex-start;
    }
    .dropdown-content {
        position: absolute;
        z-index: 3;
        width: inherit;
    }
    .features .dropdown{
        width: max-content;
        margin-right: 20px;
        margin-top: 30px;
        /* display: inline; */
    }
    .features > a{
        width: max-content;
        margin-top: 30px;
        margin-right: 30px;
    }
    .dropdown .dropbtn i{
        margin-left: 10px;
    }
    .dropdown-content a:hover {
        background-color: #ddd;
        width: max-content;
      }
    .dropdown:hover .dropbtn,  .dropdown .dropbtn, .dropdown-content {
        width: max-content;
      }
    .l-home p::after{
        left: 50px;
    }
    .l-home, .r-home, .r-footer, .l-footer{
        padding-left: 0px;
        padding-right: 0px;
    }
    .r-home{
        padding-left: 40px;
    }
    
}

@media screen and (min-width:1920px){
    :root{
        --maxwidthcontent: 1280px;
    }
    .slide-content > .text{
        max-width: 1280px;
        margin: auto;
        width: 30%;
        left: 18%;
    }
    .navbar .features{
        max-width: 1280px;
        margin: auto; 
        width: max-content;
        margin-left: 245px;
    }
    .home-content, .footer-content {
        max-width: 1280px;
        margin: auto; 
    }
    .l-home p::after{
        left: auto;
    }
}