body{
  background-image: url(imagePixture/sakura.jpg);
}
.page{
  display: flex;
  justify-content: space-around;

}
.first-col{
  display: flex;
  flex-direction: column;
}

.questionLibrary{
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  width: 600px;
}
.form, #displayQuestionList{
position: relative;
width: 500px;
height: 150px;
background-color: #ffffff;
padding: 30px;
border-radius: 10px;
margin: 10px auto;
}
#displayQuestionList{
  margin-top: 70px;
  height: 180px;
}
.btn-submit{
  position:absolute;
  bottom: 30px;
  right: 30px;
}
.btn{
  text-align: center;
  margin-top: 10px;
}
/* h1{
  margin-top: 100px;
} */

table{
  margin-bottom: 20px;
}
#table-question{
  width: 100%;
  border: 1px solid #000;
}
caption{
  font-size: 20px; 
  font-weight: 700;
  margin-bottom: 10px;
}

/*Tooltip*/
.btn-add .tooltip-add, .tooltip-delete, .tooltip-edit {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  margin-top: 15px;
  margin-left: -60px;
}
.btn-add .tooltip-add::after, .tooltip-delete::after, .tooltip-edit::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.btn-add:hover .tooltip-add, .btn-delete:hover .tooltip-delete, .btn-edit:hover .tooltip-edit  {
  visibility: visible;
}